body
  font-size: 16px

#main
  padding-top: 45px
  padding-bottom: 45px
ul
  list-style: none
  padding-left: 0

header
  top: 0
  z-index: 1
  height: 44px
  line-height: 44px
  overflow: hidden
  position: fixed
  width: 100%
  .main-nav
    transition: all .3s
    background: #d5d5d5
    margin-top: 0
    a
      color: #989898
      &:active, &:hover
        color: #989898
      &.glyphicon-align-justify
        margin-top: 13px
  .sub-nav
    background: #eb2426
  a
    color: #fff
    padding: 0 7px
    font-weight: bold
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 10px
      margin-top: 14px
    &:active, &:hover
      color: #fff
      text-decoration: none
  &.open
    .main-nav
      margin-top: -44px
  &#vote-header
    background: #d5d5d5
    color: #727273
.hitpoint
  height: 44px
  position: absolute
  right: 0
  width: 44px
  top: 0
  text-align: center
input[type="text"]
  border: none
  border-bottom: 1px solid #ccc
  height: 44px
  width: 100%
  font-size: 14px
  border-radius: 0
.search
  z-index: 0
  transition: all .3s
  margin-bottom: 10px
  height: 0
  overflow: hidden
.show-search
  height: 46px
footer
  position: fixed
  width: 100%
  bottom: 0
  height: 44px
  background: #d5d5d5
  line-height: 44px
  a
    color: #999
    font-weight: bold
    &:hover, &:active
      text-decoration: none
      color: #999
  .glyphicon
    margin-top: 14px

thead
  th
    border-bottom: none !important

.lead
  margin-bottom: 15px
.close-vote
  position: absolute
  right: 20px
  color: #555
  &:hover, &:active
    color: #555
